@foreach (var item in ViewBag.Product)
{

    <div class="col-md-4 top_brand_left">
        <div class="hover14 column">
            <div class="agile_top_brand_left_grid">
                @*<div class="agile_top_brand_left_grid_pos">
                        <img src="images/offer.png" alt=" " class="img-responsive" />
                    </div>*@

                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a asp-action="detail" asp-controller="Home" asp-route-id="@item.Id"><img title=" " alt=" " src="~/Admin/images/@item.Image" /></a>
                                <p> @item.Name</p>
                                <div class="stars">
                                    <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                    <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                    <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                    <i class="fa fa-star blue-star" aria-hidden="true"></i>
                                    <i class="fa fa-star gray-star" aria-hidden="true"></i>
                                </div>
                                <h4>$@item.UnitPrice</h4>
                            </div>
                            <div class="snipcart-details top_brand_home_details">
                                <a asp-controller="Cart" asp-action="buy" asp-route-id="@item.Id" class="btn btn-primary">Add To Cart</a>
                              
                            </div>
                        </div>
                    </figure>
                </div>

            </div>
        </div>
    </div>
}
